.custom-navbar {
    background: linear-gradient(135deg, #198754, #157347);
    border-radius: 50px;
    padding: 10px 30px;
    margin: 20px auto;
    width: 90%;
    max-width: 1450px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    position: static;
    top: 40px;
    left: 0;
    z-index: 1040;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.btn-glass {
    background: rgba(13, 13, 13, 0.66);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: white;
    border: none;
    border-radius: 30px;
    padding: 8px 20px;
    transition: background 0.3s ease;
}

.btn-glass:hover {
    background: rgba(13, 13, 13, 0.493);
    color: white;
}

.search-box {
    background: rgba(13, 13, 13, 0.66);    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 30px;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.search-box input {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    width: 100%;
    }

@media (max-width: 768px) {
    .custom-navbar {
        padding: 1rem;
    }

    .search-box {
        width: 100%;
        margin-top: 0.5rem;
    }

    .search-box input {
        font-size: 0.9rem;
    }
}




